<!DOCTYPE html>
<html>
	<head>
		<title> Aling Nena's Online Store </title>
		<!-- SOURCE CODE FROM http://getbootstrap.com/examples/jumbotron-narrow/-->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/jumbotron-narrow.css" rel="stylesheet">
    	<link href="css/stylesheet.css" rel="stylesheet">

	</head>
	<body>
		<div class="container">
		<!-- Header + Nav -->
			<div class="header">
				<ul class="nav nav-pills pull-right">
				<li><a href="/">Home</a></li>
				<li class="active"><a href="about">About</a></li>
				<li><a href="products">Products</a></li>
				</ul>
			<h3 class="text-muted">Aling Nena's Online Store</h3>
			</div> 
		
		<!-- Middle text -->
			<div class="jumbotron">
				<h2><strong>Looking beyond the skyline</strong></h2>
				<p class="lead"><em>Started from the bottom now we're here</em>	</p>
			</div>
				<center>
				<h4 class="text-info"><strong>Aling Nena's</strong></h4>
				<p>From the very instance that she has been conceived in her parents' minds, Aling Nena has always worked to serve Katipuneros in their quest to find the most convienient place to buy whatever their minds can think of.</p>
				<p>Now, due to the changing times, Aling Nena's started to expand world-wide, with the help of her daughter and a Junior Management Information Systems student, by going online.</p>
				<p class="text-danger"><strong>Vision</strong></p>
				To be able to provide the ultimate convenience for the whole country. <br> <br>
				<p class="text-danger"><strong>Mission</strong></p>
				To be the favorite place of all the custumers to buy their needs.
				 </p>	</center>
			
		<!-- Smaller Text -->
			<div class="row marketing">
				<div class="col-lg-6">
					<h4>News</h4>
					<p>Katipunan Branch <strong>Open 24/7!</strong><br>Cavite Branch <strong>Coming Soon!</strong></p>
				</div>
				
				<div class="col-lg-6">
					<h4>Contact Us @ </h4>
					<p><strong>Facebook:</strong><br>www.facebook.com/alingnenas <br><strong>Twitter:</strong>  <br> www.twitter.com/alingnenas </p>
				</div>
			</div>

      <div class="footer">
        <p>&copy; Aling Nena's 2014</p>
      </div>
		</div>
	</body>
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
</html>